@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Medium.otf");
  }
}

@layer components {
  .btn {
    @apply px-2 py-3 text-base rounded-lg bg-gradient-to-br transition-all duration-200 hover:brightness-95 focus:ring-4 focus:outline-none;
  }

  .btn-cyan {
    @apply bg-gradient-to-br from-cyan-500 to-blue-500 text-white hover:shadow-lg hover:shadow-cyan-200 focus:ring-cyan-200;
  }

  .btn-white {
    @apply bg-white text-black border-2 border-black hover:bg-black hover:text-white focus:ring-gray-500;
  }

  .btn-black {
    @apply bg-black text-white focus:ring-gray-700;
  }

  .btn-red {
    @apply bg-gradient-to-br from-red-500 to-orange-500 text-white hover:shadow-lg hover:shadow-red-300 focus:ring-red-300;
  }

  .btn-cosmic {
    @apply text-white rounded-xl transition-all duration-500 bg-gradient-to-tl from-purple-500 via-green-500 to-purple-700 bg-size-200 bg-pos-0 hover:bg-pos-100 hover:shadow-lg hover:shadow-purple-300 focus:ring-purple-300;
  }

  .is-active {
    @apply font-bold;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
  bg-gray-400 hover:bg-cyan-600 dark:bg-gray-800 
  text-white   hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-200 ease-linear
    cursor-pointer shadow-lg p-2;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-3 m-2 min-w-max left-14 rounded-2xl shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-200 scale-0 origin-left;
  }

  .tooltip-top {
    @apply absolute w-auto p-3 m-2 min-w-max left-14 rounded-2xl shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-200 scale-0 origin-top;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }

  /* 
  .ce-inline-tool {
    @apply btn;
  } */
}


.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
